# Ignore node_modules directory
node_modules/

# Ignore npm debug logs
npm-debug.log*

# Ignore environment variables file
.env

# Ignore package-lock.json (if you don't want to track it)
package-lock.json

# Ignore yarn.lock (if you use Yarn)
yarn.lock

# Ignore build/output directories
dist/
build/

# Ignore local development files
.DS_Store
.idea/
.vscode/